.fancy {

  padding: 1em;
  border: 0.5em solid black;

  width: 4em;
  height: 4em;
}
/* code trouvé à https://developer.mozilla.org/en-US/docs/Learn_web_development/Howto/Solve_CSS_problems/Create_fancy_boxes */
